/*  your css code here. If applicable */
body{
	background-color: black;
}
.hero{
	display: flex;
	position: relative;
	height: 90vh;
	overflow: hidden;
}
.hero img {
  position: absolute;
  width: 500px;
  height: 30vh;
  object-fit: cover; /* ensures the image is clipped properly */
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(70%);
}
.hero-content {
  color: white;
  padding: 20px;
  box-sizing: border-box; /* using box model */
}
.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* Paragraph */
.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
	
}

/* Explore button */
.btn {
  padding: 10px 25px;
  background-color: #e60023;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #c7001f;
}
